<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>GenSex</title>
	
	

	 <link rel="stylesheet" href="css/style.css">

	
</head>

	
	
	
	
<body>
	
	
	
	
	
	<section class="background">
		
		
	<div class="menu" id="menu">
	  <div class="logo" id="logoGenSeX">  
	<div class="logoGenSex">
		  <img src="image/logo.png" class="logo-img" width="200">
		  </div>
	</div>
		
		
	
		
  <div class="menu-links">
	 <li><a href="">  INICIO </a></li>
		<li><a class="link" href="#sobre-nos"> SOBRE NÓS</a></li>
		<li><a href="">  PARTICIPE</a></li>
	  <li><a href=""> CHAT</a></li>
	  <li><a href=""> PERFIL</a></li>
		</div>
		
		
	
	</div>
	
	<div class="rw"></div>
	
	  <div class="campo-de-busca-rw">
		<div class="campo-de-busca">
			
 
<form id="searchbox" method="get" action="/search" autocomplete="off">
    <input class="textarea" name="q" type="text" size="15" placeholder="Pesquise aqui..." />
    <input id="button-submit" type="submit" value="" />
</form> 
              
			
			<div class="campo-de-busca-img">
			
				
				</div>
			
		</div>
	  </div>
		
		
	
	
	
</section>
	
	
	
	
	<section>
	
	<div class="recent-post-containers">
	<div class="post-titulo"><h1>Publicações Recente</h1></div>
		
		
		<div class="posts-container-wr">
		<div class="recent-post-container-01"><div class="recent-post-titulo-01"><h1>Titulo Do Post</h1></div><p>escreva seu texto aqui!!!</p></div>
		<div class="recent-post-container-02"><div class="recent-post-titulo-02"><h1>Titulo Do Post</h1></div><p>escreva seu texto aqui!!!</p></div>
		<div class="recent-post-container-03"><div class="recent-post-titulo-03"><h1>Titulo Do Post</h1></div><p>escreva seu texto aqui!!!</p></div>
		</div>
		
		
		
		
		
		</div>
	
	
	
	</section>
	
	
	
	
	
	
	
	
	<section>
	<div class="banner-container">
	<div class="containers"> 
	<div class="container-sobre-nos">
	<div id="sobre-nos" class="container-sobre-nos-titulo"><h1> Sobre Nós</h1></div>
		<p>escreva seu texto aqui!!!</p>
		</div>	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="container-app">
		<div class="containter-app-titulo"><h1>Aplicativo<br>&nbsp;GenSex</h1>
		<div class="icon-app"><img src="image/redes/app.png" width="50"></div>
			</div>
		
			
			<div class="buttom-container"> 
				
		<div class="container-buttom"></div>
		</div>
		     
			
		</div>
		
		
		
		                                   
		
		
		 </div>
	</div>
	
		
		
		
		
		
	
	</section>
	
	
	
	
	
	
	
	
	
	
	<section>
	<div class="banner"></div>
	
	</section>
	
	
	
	
	
	
	
	
	
	
<div class="bg-footer">
		
	<div class="bg-footer-links">
	<li><a href="">  INICIO </a></li>
		<li><a href=""> SOBRE NÓS</a></li>
		<li><a href="">  PARTICIPE</a></li>
	  <li><a href=""> CHAT</a></li>
	  <li><a href=""> PERFIL</a></li>
	</div>
	
	
  <div class="logo-footer-text">
		
		
<h3><img src="image/Layer 53.png" class="logo-footer-rw"  width="58"><br>INSTITUTO FEDERAL<br>DE EDUCAÇÃO,CIÊNCIA E TECNOLOGIA<br>Bahia</h3>
	
		
<h3><img src="image/VII COLÓQUIO GPLR 2020 .png" width="190"></h3>	
						 
		
		
  </div>
	
	
</div>
	
	
	
	
</body>
	
<div class="footer">
	
	

	
  <div class="created"> 
		
			<div class="social-icons">
        	<div class="icon"><img class="icon-social" src="image/redes/icon01.png" width="37"></div>
		<div class="icon"><img class="icon-social" src="image/redes/facebook.png" width="17"></div>
		<div class="icon"><img  class="icon-social" src="image/redes/twitter.png" width="37"></div> 
	<div class="icon"><img class="icon-social" src="image/redes/in.png" width="37"></div>
	</div>
		
		
  <p>2021 created by Roberto Kennedy</p>
	</div>
	
	
	
</div>
	
	
	
	
</html>
